<div class="grid grid-cols-1 gap-4 my-6">
  <!-- Sección de suscripción -->
  <app-mensual-suscription></app-mensual-suscription>
  <app-loose-drink></app-loose-drink>

  <div *ngFor="let album of albums" class="album-card" (click)="navigateToAlbum(album.id)">
    <div class="h-24 w-24 bg-center bg-cover rounded-lg" [style.background-image]="'url(' + album.miniature + ')'">
    </div>
    <div class="ml-4">
      <h2 class="text-2xl font-bold text-pink-500 mb-1">{{ album.name }}</h2>
      <p class="text-white text-sm mb-1 flex items-center">
        <i class="fas fa-folder text-yellow-500 mr-2"></i> Archivos: {{ album.numberOfPosts }}
      </p>
      <p class="text-white text-sm mb-4 flex items-center">
        <i class="fas fa-clock text-blue-500 mr-2"></i> Fecha: {{ album.creationDate | date: 'dd/MM/yyyy' }}
      </p>
      <p class="text-xl font-semibold text-white flex items-center">
        <i class="fas fa-money-bill-wave text-green-500 mr-2"></i> $ ARS {{ album.price }}
      </p>
    </div>
  </div>

  <div
    class="album-card relative h-24 w-full bg-pink-500 rounded-lg cursor-pointer transition-transform transform hover:scale-105 active:scale-105 hover:bg-pink-400 active:bg-pink-400">
    <div
      class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white font-bold opacity-30 hover:opacity-100 active:opacity-100 transition-opacity">
      <span class="text-8xl" style="font-weight: 300;">+</span>
    </div>
  </div>


  <!-- Controles de paginación -->
  <div class="flex justify-between items-center mt-4">
    <button class="px-4 py-2 bg-gray-300 text-gray-800 rounded-lg hover:bg-gray-400" [disabled]="page <= 1"
      (click)="onPageChange(page - 1)">
      Anterior
    </button>
    <span class="text-gray-600">Página {{ page }} de {{ totalPages }}</span>
    <button class="px-4 py-2 bg-gray-300 text-gray-800 rounded-lg hover:bg-gray-400" [disabled]="page >= totalPages"
      (click)="onPageChange(page + 1)">
      Siguiente
    </button>
  </div>
</div>