<div class="space-y-4 my-4">
    <div class="relative bg-gray-100 text-pink-500 rounded-md shadow-md p-4 h-20 flex items-center">
      <div class="absolute top-2 left-2 flex items-center space-x-2">
        <span>María te invitó</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-pink-500" viewBox="0 0 24 24" fill="currentColor">
            <path d="M8 2a1 1 0 011 1v2h6V3a1 1 0 112 0v2h1a1 1 0 011 1v2a1 1 0 01-.293.707L17 10.414V16a5 5 0 11-10 0v-5.586l-2.707-2.707A1 1 0 014 6V4a1 1 0 011-1h1V3a1 1 0 011-1h2zm1 8v6a3 3 0 106 0v-6H9z" />
        </svg>
      </div>
      <span class="absolute bottom-2 right-2 text-sm text-gray-400">27/11/2024</span>
    </div>
  
    <div class="relative bg-gray-100 text-pink-500 rounded-md shadow-md p-4 h-20 flex items-center">
      <div class="absolute top-2 left-2 flex items-center space-x-2">
        <span>Juan te invitó</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-pink-500" viewBox="0 0 24 24" fill="currentColor">
            <path d="M8 2a1 1 0 011 1v2h6V3a1 1 0 112 0v2h1a1 1 0 011 1v2a1 1 0 01-.293.707L17 10.414V16a5 5 0 11-10 0v-5.586l-2.707-2.707A1 1 0 014 6V4a1 1 0 011-1h1V3a1 1 0 011-1h2zm1 8v6a3 3 0 106 0v-6H9z" />
        </svg>
      </div>
      <span class="absolute bottom-2 right-2 text-sm text-gray-400">28/11/2024</span>
    </div>
  
    <div class="relative bg-gray-100 text-pink-500 rounded-md shadow-md p-4 h-20 flex items-center">
      <div class="absolute top-2 left-2 flex items-center space-x-2">
        <span>Sofía te invitó</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-pink-500" viewBox="0 0 24 24" fill="currentColor">
            <path d="M8 2a1 1 0 011 1v2h6V3a1 1 0 112 0v2h1a1 1 0 011 1v2a1 1 0 01-.293.707L17 10.414V16a5 5 0 11-10 0v-5.586l-2.707-2.707A1 1 0 014 6V4a1 1 0 011-1h1V3a1 1 0 011-1h2zm1 8v6a3 3 0 106 0v-6H9z" />
        </svg>
      </div>
      <span class="absolute bottom-2 right-2 text-sm text-gray-400">29/11/2024</span>
    </div>
  </div>
  