/* General del contenedor */
#messageContainer {

  display: flex;
//  flex-direction: column;

  // height: 50%; /* Usa la mitad de la altura de la pantalla */
  // width:  100%; /* Usa la mitad de la altura de la pantalla */

  z-index: 9999; /* Asegura que esté por encima de otros componentes */
  overflow-y: auto;
  flex-grow: 1; /* Permite que el contenedor crezca para ocupar el espacio disponible */
  scrollbar-width: none; /* Oculta la barra de scroll en Firefox */
  -ms-overflow-style: none; /* Oculta la barra de scroll en IE y Edge */
}

#messageContainer::-webkit-scrollbar {
  display: none; /* Oculta la barra de scroll en Chrome y Safari */
}

/* Diseño general */
.fixed {
 // position: fixed;
}
.bottom-4 {
  bottom: 1rem;
}
.right-4 {
  right: 1rem;
}
.max-w-sm {
  max-width: 20rem; /* Ajusta según tus necesidades */
}
.flex-1 {
  flex: 1;
}

/* Mensajes propios */
.my-message {
  align-self: flex-end;
  text-align: left;
}
.my-message p {
  background-color: #d1e7ff;
  color: #0d6efd;
}
.my-message span {
  color: #0d6efd;
}

/* Mensajes de otros */
.other-message {
  align-self: flex-start;
  text-align: right;
}
.other-message p {
  background-color: #e9ecef;
  color: #495057;
}
.other-message span {
  color: #495057;
}

@media (max-width: 768px) {
  #messageContainer {
    width: 100%; /* Ocupa todo el ancho */
    max-width: none; /* Sin límite de ancho */
    right: 0; /* Alineado al borde derecho */
    bottom: 0; /* Alineado al borde inferior */
    height: 40vh; /* Usa la mitad de la altura de la pantalla */
  }
}
