.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #080808;
    box-shadow: 0 4px 6px var(--shadow-color);
    border-radius: 1rem;
  //  cursor: pointer;
    width: 24rem; /* Equivalente a 'w-96' en Tailwind */
    height: 24rem; /* Equivalente a 'h-96' en Tailwind */
  }


  .card-footer {
 //   display: flex-col;
    align-items: left;
//    justify-content: left;
    padding: 2rem;
    background-color: #080808;
    box-shadow: 0 4px 6px var(--shadow-color);
    border-radius: 1rem;
  //  cursor: pointer;
    width: 24rem; 
    height: 14rem;
  }

  .loggin-button {
    border: 2px solid #ec4899; /* Borde rosa */
    color: #ec4899; /* Texto rosa */
    background-color:#080808; /* Fondo gris oscuro */
    padding: 0.5rem 1.5rem; /* Espaciado: arriba-abajo 0.5rem, izquierda-derecha 1.5rem */
    border-radius: 0.375rem; /* Bordes redondeados (equivale a rounded-md) */
    min-width: 200px; /* Ancho mínimo opcional para asegurar un tamaño fijo */

    transition: background-color 0.3s ease, color 0.3s ease; /* Transiciones suaves */
  }
  
  .loggin-button:hover {
    background-color: #ec4899; /* Fondo rosa al hacer hover */
    color: #111827; /* Texto gris oscuro al hacer hover */
  }