.header{
    margin: 30px
}
.cards{
    display: flex;
    align-items: center;
    margin: 30px;
    justify-content: space-between;
}
p-card-content {
    padding: 0px;
}
::ng-deep p-card .p-card-content{
    padding: 0% !important;
}