
<div  class="header">
<p-card header="Buenos dias !" [style]="{ }">
    <p>
        ¡Bienvenido a BackStore - Tu Socio de Negocios de Confianza!
        Aquí tienes tu resumen principal: Toda la información vital de tu negocio en un solo lugar. ¡Comencemos a simplificar la gestión de tu pequeña empresa!
    </p>
</p-card>
</div>
<div class="cards">
    <a href="" style="text-decoration-line: none;">
    <p-card header="Ganancias del mes" [style]="{ width: '360px', 'text-align':'center' }">
        <ng-template pTemplate="header">
        </ng-template>
            <p style="font-size: 3rem; text-align: center;">
           75000
            </p>
    </p-card>
</a>
<a href="" style="text-decoration-line: none;">
    <p-card header="Gastos del mes" [style]="{ width: '360px', 'text-align':'center' }">
        <ng-template pTemplate="header">
        </ng-template>
            <p style="font-size: 3rem; text-align: center;">
           25000
            </p>
    </p-card>
</a>
    <a href="" style="text-decoration-line: none;">
    <p-card header="Poco Stock" [style]="{ width: '360px', 'text-align':'center' }">
        <ng-template pTemplate="header">
        </ng-template>
            <p style="font-size: 3rem; text-align: center;">
           19
            </p>
    </p-card>
</a>
    <a href="" style="text-decoration-line: none;">
    <p-card header="Alerta vencimiento" [style]="{ width: '360px', 'text-align':'center' }">
        <ng-template pTemplate="header">
        </ng-template>
            <p style="font-size: 3rem; text-align: center;">
           12
            </p>
    </p-card>
</a>
<p-divider type="solid" style="width: 100%;"></p-divider>
    <p-card header="Ultimas Ventas" [style]="{ width: '360px' }" >
        <ng-template pTemplate="header">
            <p style=" text-align: left; margin-left: 10px; margin-top: 20px;">
                <li *ngFor="let sale of sales">
                    {{ sale.time }} Venta nro: {{ sale.id }} |  {{ sale.total }} $
                 </p>
        </ng-template>
        <ng-template pTemplate="footer">
            <p-button label="Ver mas" icon="pi pi-search"></p-button>
        </ng-template>
    </p-card>
    <p-card header="Ultimos Gastos" [style]="{ width: '360px' }" >
        <ng-template pTemplate="header">
            <p style=" text-align: left; margin-left: 10px; margin-top: 20px;">
                <li *ngFor="let expense of expenses">
                    {{ expense.time }} Desembolso nro: {{ expense.id }} |  {{ expense.total }} $
                 </p>
        </ng-template>
        <ng-template pTemplate="footer">
            <p-button label="Ver mas" icon="pi pi-search"></p-button>
        </ng-template>
    </p-card>
    <p-card header="Pedidos pendientes" [style]="{ width: '360px' }" >
        <ng-template pTemplate="header">
            <p style=" text-align: left; margin-left: 10px; margin-top: 20px;">
                <li *ngFor="let expense of expenses">
                    {{ expense.time }} Pedido nro: {{ expense.id }} |  {{ expense.total }} $
                 </p>
        </ng-template>
        <ng-template pTemplate="footer">
            <p-button label="Ver mas" icon="pi pi-search"></p-button>
        </ng-template>
    </p-card>
    <p-card header="Pagos pendientes" [style]="{ width: '360px' }" >
        <ng-template pTemplate="header">
            <p style=" text-align: left; margin-left: 10px; margin-top: 20px;">
                <li *ngFor="let expense of expenses">
                    {{ expense.time }} Venta nro: {{ expense.id }} |  {{ expense.total }} $
                 </p>
        </ng-template>
        <ng-template pTemplate="footer">
            <p-button label="Ver mas" icon="pi pi-search"></p-button>
        </ng-template>
    </p-card>
</div>