<div class="relative flex min-h-screen flex-col bg-black">
  <div class="min-h-28">
    <div class="mx-auto py-12">
      <!-- Editable Title -->
      <div class="relative text-center group">
        <!-- Título visible -->
        <h2 *ngIf="!isEditingTitle" class="font-black text-5xl text-white uppercase cursor-pointer inline-block"
          (click)="startEditing()">
          {{ title }}
          <!-- Icono de lápiz que se muestra con el hover -->
          <i class="fas fa-pencil-alt ml-2 text-gray-400 opacity-0 group-hover:opacity-100 transition-opacity"></i>
        </h2>

        <!-- Input editable, tamaño dinámico -->
        <input *ngIf="isEditingTitle" #titleInput [(ngModel)]="title"
          class="text-center text-5xl font-black text-white uppercase bg-black border border-gray-500 rounded py-1 px-2"
          [style.width.px]="calculatedInputWidth" (blur)="saveTitle()" (keyup.enter)="saveTitle()" />
<!-- Videos Section -->
<div class="gap-6 mt-8 mx-4 video-container">
<!-- Primera tarjeta especial en gris con el color #080808 -->
<div 
  class="wrap-video add-photo-card"

  (click)="addPhoto()"
>
  <div class="add-photo-content" >+</div>
</div>


  <!-- Videos normales (el resto que ya tienes) -->
  <div class="wrap-video">
    <div class="object-cover h-96 w-full bg-black" loop>
      <img class="object-cover" src="https://firebasestorage.googleapis.com/v0/b/ptfilesmanagerapi.appspot.com/o/Fotos_Perfil%2F0%2F24?alt=media&token=bd35821c-3ffe-4cea-85ce-f29003922d95" alt="Descripción de la imagen" />
    </div>
  </div>
  <div class="wrap-video">
    <div class="object-cover h-96 w-full bg-black" loop>
      <img class="object-cover" src="https://firebasestorage.googleapis.com/v0/b/ptfilesmanagerapi.appspot.com/o/Fotos_Portada%2F14%2F5?alt=media&token=437d711f-7c14-40b6-b9df-e70fff66b072" alt="Descripción de la imagen" />
    </div>
  </div>
  <div class="wrap-video">
    <div class="object-cover h-96 w-full bg-black" loop>
      <img class="object-cover" src="https://firebasestorage.googleapis.com/v0/b/ptfilesmanagerapi.appspot.com/o/Fotos_Perfil%2F0%2F24?alt=media&token=bd35821c-3ffe-4cea-85ce-f29003922d95" alt="Descripción de la imagen" />
    </div>
  </div>
  <div class="wrap-video">
    <div class="object-cover h-96 w-full bg-black" loop>
      <img class="object-cover"  src="https://firebasestorage.googleapis.com/v0/b/ptfilesmanagerapi.appspot.com/o/Fotos_Perfil%2F0%2F24?alt=media&token=bd35821c-3ffe-4cea-85ce-f29003922d95" alt="Descripción de la imagen" />
    </div>
  </div>
  <div class="wrap-video">
    <div class="object-cover h-96 w-full bg-black" loop>
      <img class="object-cover"  src="https://firebasestorage.googleapis.com/v0/b/ptfilesmanagerapi.appspot.com/o/Fotos_Perfil%2F0%2F24?alt=media&token=bd35821c-3ffe-4cea-85ce-f29003922d95" alt="Descripción de la imagen" />
    </div>
  </div>
  
</div>

        

          <!-- Add other videos here as needed -->
        </div>
      </div>

    </div>
  </div>
