<app-toolbar *ngIf="isUserLoggedIn" class="app-toolbar"></app-toolbar>
<div *ngIf="showGuestNav">
  <button mat-button (click)="navigateToHome()" >
    <img src="assets/images/shareContentLogoBlanco0.png" alt="G-Point Logo" class="w-14 h-14 mt-6">
  </button>
  <button mat-button [matMenuTriggerFor]="guestMenu" class="guest-menu-button">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #guestMenu="matMenu">
    <button mat-menu-item (click)="navigateToHome()">
      <mat-icon>home</mat-icon>
      Inicio
    </button>
    <button mat-menu-item (click)="navigateToLogin()">
      <mat-icon>login</mat-icon>
      Iniciar sesión
    </button>
    <button mat-menu-item (click)="navigateToRegister()">
      <mat-icon>person_add</mat-icon>
      Registrarse
    </button>
  </mat-menu>
</div>
<div class="content"[ngClass]="{'logged-out': !isUserLoggedIn}">
  <router-outlet></router-outlet>
</div>
    <!--menu inferior-->
    <!-- <app-toolbar-footer></app-toolbar-footer> -->