.app-toolbar {
    position: fixed;
     top: 0;
     margin-bottom: 60px; /* Asegura que el contenido empiece debajo de la toolbar */

    // left: 0;
    // right: 0;
     z-index: 1000; /* Asegura que la barra se quede encima */
     height: 60px; /* Ajusta según la altura de tu toolbar */
  }
  
  /* Contenedor principal de contenido */
  .content {
   margin-top: 46px; /* Margen normal cuando el usuario está logueado */
 }
 
 .logged-out {
   margin-top: 0px; /* Si isUserLoggedIn es falso, elimina el margen */
 }
  