<app-toolbar *ngIf="isUserLoggedIn" class="app-toolbar"></app-toolbar>
<div *ngIf="!isUserLoggedIn" class="guest-nav">
  <button mat-button [matMenuTriggerFor]="guestMenu" class="guest-menu-button">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #guestMenu="matMenu">
    <button mat-menu-item (click)="navigateToLogin()">
      <mat-icon>login</mat-icon>
      Iniciar sesión
    </button>
    <button mat-menu-item (click)="navigateToRegister()">
      <mat-icon>person_add</mat-icon>
      Registrarse
    </button>
  </mat-menu>
</div>
<div class="content"[ngClass]="{'logged-out': !isUserLoggedIn}">
  <router-outlet></router-outlet>
</div>
    <!--menu inferior-->
    <!-- <app-toolbar-footer></app-toolbar-footer> -->