.app-toolbar {
    position: fixed;
    top: 0;
    margin-bottom: 60px;
    z-index: 1000;
    height: 60px;
}


.guest-menu-button {
    position: fixed;
    top: 16px;
    right: 0;
    padding: 10px;
    z-index: 1000;
    color: white;
}

.content {
    &.logged-out {
        background-color: #121212;
    }
}

/* Contenedor principal de contenido */
.content {
 margin-top: 46px; /* Margen normal cuando el usuario está logueado */
}
 
.logged-out {
   margin-top: 0px; /* Si isUserLoggedIn es falso, elimina el margen */
 }

.guest-nav {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    z-index: 1000;
}
  