
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
  z-index: 1000; /* Asegura que está sobre todo */
}

.opacity-50 {
  opacity: 0.5;
  pointer-events: none; /* Evita que se interactúe con los elementos detrás */
}

.profile-container {
    position: relative;
    width: 5rem;  /* Tamaño ancho del contenedor */
    height: 5rem; /* Tamaño alto del contenedor */
}

.edit-icon {
    position: absolute;
    bottom: 0.25rem; /* bottom-1 */
    right: 0.25rem;  /* right-1 */
    background-color: white; /* bg-white */
    border-radius: 9999px; /* rounded-full */
    padding: 0.25rem; /* p-1 */
    border: 1px solid #D1D5DB; /* border-gray-300 */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* shadow-md */
    opacity: 0; /* opacity-0 */
    transition: opacity 0.2s ease-in-out; /* transition-opacity duration-200 */
}

.profile-container:hover .edit-icon {
    opacity: 1; /* Visible al hacer hover en el contenedor */  //NO FUNCIONA 
}

.bg-pink-500 {
    background-color: #ec4899;
  }
  
  .text-white {
    color: white;
  }
  
  .bg-white {
    background-color: white;
  }
  
  .text-gray-500 {
    color: #6b7280;
  }
  
  .border-gray-500 {
    border: 1px solid #6b7280;
  }
  