@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "primeng/resources/themes/lara-light-blue/theme.css";
//@import "primeng/resources/primeng.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


html body {
    background-color: black;
    color: rgb(236 72 153 / var(--tw-bg-opacity, 1));
}

.gray-cards {
    background-color: #363636; /* Cambia este valor según lo que necesites */
  }
