@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
//@import "primeng/resources/primeng.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


html body {
    background-color: black;
    color: rgb(236 72 153 / var(--tw-bg-opacity, 1));
}

.gray-cards {
    background-color: #363636; /* Cambia este valor según lo que necesites */
  }

html, body { height: 85%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
